# Node modules (Svelte dependencies)
frontend/node_modules/
frontend/.svelte-kit/

# Environment variables
frontned/.env
server/.env
server/uploads

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/
.env/

# Virtual environments
/server/venv/
venv/
env/
.venv/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
.dockerignore